@charset "utf-8";

* {

    margin: 0;

    padding: 0;

    border: 0;

    outline: 0;

}

body, p {

    font-family: 'Raleway', sans-serif;

    font-weight: 400;

}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Source Sans Pro', sans-serif;

}

.navbar {

    height: auto;

    min-height: auto;

    border: 0;

    margin: 0;

    box-shadow: none;

    padding: 50px 0;

    background: none;

    transition-duration: .3s;

}

.navbar-brand {

    height: auto;

    padding: 0;

}

.navbar-brand > img {

    width: 100%;

    transition-duration: .3s;

}

.sticky .navbar-brand > img {

    width: 80%;

    transition-duration: .3s;

}

.topbar {

    text-align: right;

}

.topbar ul {

    margin-bottom: 0;

}

.topbar ul li {

    padding: 0 10px;

}

.topbar ul li:nth-child(3) {

    padding-left: 10px;

}

.topbar ul li:last-child {

    padding-right: 0;

}

.topbar ul li a {

    color: #6b5c8e;

    font-size: 16px;

    line-height: 26px;

    text-decoration: none;

    transition-duration: .3s;

}

.topbar ul li a:hover {

    color: #372e4c;

    transition-duration: .3s;

}

.topbar ul li a img {

    margin-top: -10px;

}

.navbar-default .navbar-nav > li > a {

    color: #6b5c8e;

    font-size: 18px;

    line-height: 30px;

    transition-duration: .3s;

    padding: 0;

    padding-bottom: 5px;

}

.nav > li {

    padding: 10px 15px;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: #000;

    transition-duration: .3s;

}

.sticky .navbar {

    background: rgba(255, 255, 255, 1);

    transition-duration: .3s;

    padding: 20px;

    border-bottom: #f2f2f2 solid 1px;

}

.sticky .navbar-default .navbar-nav > li > a {

    line-height: 18px;

}

.carousel-caption {

    left: 0;

    text-align: left;

    position: inherit;

}

.itemBg {

    padding: 350px 0 300px;

}

.btnMain {

    background: #53417b;

    border: #53417b solid 2px;

    width: 18%;

    margin-top: 10px;

    padding: 9px 12px;

    border-radius: 10px;

    transition-duration: .3s;

    font-size: 16px;

    font-weight: 500;

    color: #fff;

}

.btnMain:hover {

    background: #413261;

    transition-duration: .3s;

    border: #413261 solid 2px;

}

.carousel-caption {

    text-shadow: none;

}

.carousel-caption h3 {

    font-size: 70px;

    color: #53417b;

    text-transform: uppercase;

    font-weight: 700;

}

.carousel-caption p {

    font-size: 16px;

    line-height: 24px;

    color: #53417b;

    width: 44%;

}

.carousel-indicators .active {

    width: 15px;

    height: 15px;

    margin: 0;

    background-color: #53417b;

    border: #53417b solid 1px;

}

.carousel-indicators li {

    width: 14px;

    height: 14px;

}

.about {

    background: url(../images/aboutBg.png) no-repeat;

    background-size: cover;

    background-position: top center;

    padding: 90px 0;

}

.sectionHeading {

    font-size: 40px;

    font-weight: 700;

    color: #53417b;

    margin: 0;

    text-align: center;

    margin-bottom: 40px;

    text-transform: capitalize;

}

.about p {

    font-size: 18px;

    line-height: 24px;

    color: #6b6b6b;

    margin-bottom: 40px;

    text-align: justify;

}

.services {

    padding: 70px 0 10px;

    background: #bc9eff;

}

.servicesMain {

    margin-top: 100px;

}

.serviceBox {

    position: relative;

    transition-duration: .3s;

    margin-bottom: 120px;

}

.overlay {

    visibility: hidden;

    opacity: 0;

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(83, 65, 123, .8);

    width: 100%;

    transition-duration: .3s;

    border-radius: 10px;

}

.serviceBox:hover .overlay {

    visibility: visible;

    opacity: 1;

    transition-duration: .3s;

}

.serviceBox:hover h3 {

    color: #fff;

    transition-duration: .3s;

}

.serviceBox img {

    width: 100%;

    box-shadow: 1px 1px 20px #8873b8;

    transition-duration: .3s;

    border-radius: 12px;

}

.serviceContent {

    position: absolute;

    top: -60px;

    left: 40px;

}

.serviceContent .serviceIcon {

    width: 106px;

    height: 106px;

    padding: 22px 0px;

    background: #fff;

    border: 10px solid rgba(255, 255, 255, .2);

    -webkit-background-clip: padding-box;

    background-clip: padding-box;

    border-radius: 50%;

    text-align: center;

}

.serviceContent .serviceIcon img {

    width: auto !important;

    box-shadow: none;

}

.serviceHeading h3 {

    font-size: 30px;

    color: #53417b;

    font-weight: 500;

    transition-duration: .3s;

}

.how {

    padding: 110px 0;

    background: #fff;

}

.cta {

    padding: 150px 0 120px 0;

    background: url(../images/cta.png) no-repeat;

    background-size: cover;

    background-position: top center;

}

.cta h5 {

    color: #53417b;

    font-size: 24px;

    margin: 20px 0;

}

footer {

    padding: 100px 0;

}

.footerSocial img {

    margin-bottom: 15px;

}

.footerSocial ul li a {

    font-size: 17px;

    color: #53417b;

    text-decoration: none;

}

.quickLinks h3 {

    font-size: 25px;

    color: #53417b;

    font-weight: 500;

}

.quickLinks ul li a {

    font-size: 17px;

    line-height: 30px;

    color: #53417b;

    text-decoration: none;

}

.copyright {

    padding: 25px 0;

    background: #222121;

    text-align: center;

}

.copyright p {

    color: #fff;

    margin: 0;

    font-size: 16px;

    text-transform: uppercase;

    font-family: 'Source Sans Pro', sans-serif;

}

.copyright p a {

    color: #fff;

    text-decoration: none;

    font-weight: 700;

}

.footerLastArea h3 {

    margin: 0;

    font-size: 24px;

    color: #53417b;

    text-align: center;

    margin-bottom: 20px;

    font-weight: 600;

}

.footerLastArea h3 span {

    display: block;

    font-size: 38px;

}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {

    display: block;

    height: auto;

    width: 100%;

    line-height: 1;

}


/*Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)

CSS from: http://codepen.io/transportedman/pen/NPWRGq

and: http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide

Inspired from: http://codepen.io/Rowno/pen/Afykb*/

.carousel-fade .carousel-inner .item {

    opacity: 0;

    transition-property: opacity;

}

.carousel-fade .carousel-inner .active {

    opacity: 1;

}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {

    left: 0;

    opacity: 0;

    z-index: 1;

}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {

    opacity: 1;

}

.carousel-fade .carousel-control {

    z-index: 2;

}


/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."

Need to override the 3.3 new styles for modern browsers & apply opacity*/

@media all and (transform-3d), (-webkit-transform-3d) {

    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {

        opacity: 0;

        -webkit-transform: translate3d(0, 0, 0);

        transform: translate3d(0, 0, 0);

    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {

        opacity: 0;

        -webkit-transform: translate3d(0, 0, 0);

        transform: translate3d(0, 0, 0);

    }

    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {

        opacity: 1;

        -webkit-transform: translate3d(0, 0, 0);

        transform: translate3d(0, 0, 0);

    }

}

.nav-tabs {

    border-bottom: none;

    text-align: center;

}

.nav-tabs > li {

    float: none;

    margin-bottom: -1px;

    display: inline-block;

    margin: 0;

    margin-right: -4px;

    padding: 0;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

    color: #fff;

    cursor: default;

    background-color: #53417b;

    border: 2px solid #53417b;

    border-bottom-color: transparent;

    transition-duration: .3s;

}

.nav-tabs > li > a {

    margin-right: 0;

    line-height: 1.42857143;

    border: 2px solid #53417b;

    border-radius: 0;

    padding: 10px 60px;

    transition-duration: .3s;

    font-weight: 700;

    font-size: 25px;

    color: #53417b;

    font-family: 'Source Sans Pro', sans-serif;

}

.nav-tabs > li > a:hover {

    color: #fff;

    background: transparent;

    border: 2px solid #53417b;

}

.nav-tabs > li:nth-child(1) a {

    border-top-left-radius: 10px;

    border-bottom-left-radius: 10px;

}

.nav-tabs > li:nth-child(2) a {

    border-top-right-radius: 10px;

    border-bottom-right-radius: 10px;

}

.how img {

    width: 100%;

}

.innerBanner {

    padding: 250px 0 150px;

    background: url(../images/innerBanner.png) no-repeat;

    background-size: cover;

    background-position: top center;

}

.innerBannerContent h2 {

    font-size: 70px;

    color: #53417b;

    font-weight: 700;

    text-transform: uppercase;

}

.innerBannerContent p {

    font-size: 18px;

    line-height: 24px;

    color: #53417b;

    font-weight: 400;

    /*width: 30%;*/
    width: 70%;

}

.aboutInner {

    padding: 100px 0;

    background: #f0f0f0;

}

.activeNav {

    border-bottom: #53417b solid 2px;

}

.aboutInner h3 {

    text-align: left;

    margin-bottom: 15px;

}

.aboutInner p {

    font-size: 18px;

    line-height: 24px;

    color: #6b6b6b;

}

.aboutInner img {

    width: 100%;

}

.aboutInner form {

    margin-top: 35px;

}

.aboutInner button {

    width: 100%;

}

.form-control {

    border-radius: 10px;

    height: auto;

    padding: 10px 10px;

    box-sizing: border-box;

    background: transparent;

    border: #53417b solid 1.5px;

    color: #6a6a6a;

    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {

    resize: none;

}

.contactLeft {

    margin-top: 60px;

}

.contactLeft i {

    font-size: 18px;

    margin-top: 10px;

    color: #53417b;

}

.contactLeft address {

    font-size: 20px;

    color: #53417b;

    font-weight: 700;

    font-family: 'Source Sans Pro', sans-serif;

    margin-bottom: 30px;

}

.contactLeft address span {

    display: block;

    font-size: 16px;

    line-height: 24px;

    color: #6a6a6a;

    font-weight: 400;

}

.fieldsBanner {

    padding: 180px 0 80px !important;

}

.fieldsBannerContent h2 {

    font-size: 30px;

    margin-bottom: 30px;

    text-transform: uppercase;

}

.fieldsBannerContent .form-control {

    border: #53417b solid 1.5px;

    color: #53417b;

}

.fieldsBannerContent label {

    color: #53417b;

    font-size: 18px;

}

.fieldsBannerContent button {

    width: 100%;

}

.fieldsBannerContent select {

    -webkit-appearance: none;

    background: url(../images/arrowDown.png) no-repeat !important;

    background-position-x: 95% !important;

    background-position-y: 45% !important;

}

input[type='checkbox'] {
    margin-right: 10px;
}

input[type='checkbox']:after {

    width: 19px;

    height: 19px;

    top: -3px;

    left: -1px;

    position: relative;

    background-image: url(../images/unChecked.png);

    -webkit-background-image: url(../images/unChecked.png);

    -webkit-moz-background-image: url(../images/unChecked.png);

    background-repeat: no-repeat;

    background-size: 100% 100%;

    content: '';

    display: inline-block;

    visibility: visible;

    background-color: transparent;

    cursor: pointer;

    border: none;

}


input[type='checkbox']:checked:after {

    width: 19px;

    height: 19px;

    top: -3px;

    left: -1px;

    position: relative;

    background-image: url(../images/checked.png);

    -webkit-background-image: url(../images/checked.png);

    -webkit-moz-background-image: url(../images/checked.png);

    background-repeat: no-repeat;

    background-size: 100% 100%;

    content: '';

    display: inline-block;

    visibility: visible;

    background-color: transparent;

    border: none;

}

.fieldsBannerContent p {

    width: 100%;

    text-align: center;

}

.fieldsBannerContent p a {

    font-weight: 700;

    color: #53417b;

}

.forgotPass p {

    text-align: right;

}

/*

.panel-heading .accordion-toggle:after {

font-family: 'Glyphicons Halflings';

content: "\e113";

float: right;

color: grey;

margin-top: 30px;

}

.panel-heading .accordion-toggle.collapsed:after {

content: "\e114";

}

*/

.panel-heading a {

    font-size: 20px;

    color: #131313;

    font-weight: 700;

    text-decoration: none;

    line-height: 23px;

}

.panel-heading.active a {

    color: #53417b;

}

.panel-default > .panel-heading {

    color: #131313;

    background-color: #e3e3e3;

    border-color: transparent;

}

.panel-default > .panel-heading + .panel-collapse > .panel-body {

    border-top-color: transparent;

    padding-top: 0;

}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {

    border-top-color: transparent;

}

.panel {

    margin-bottom: 20px;

    background-color: #e3e3e3;

    border-bottom: #0b0b0b solid 1px;

}

.panel-group .panel + .panel {

    margin-top: 0;

}

.panel-heading span {

    width: 72px;

    height: 72px;

    padding: 12px 0px;

    background: #141414;

    border: 10px solid rgba(0, 0, 0, .5);

    -webkit-background-clip: padding-box;

    background-clip: padding-box;

    border-radius: 50%;

    text-align: center;

    display: inline-block;

    font-size: 39px;

    color: #fff;

    margin-right: 15px;

}

.panel-heading.active span {

    background: #56467a;

    border: 10px solid rgba(107, 92, 142, .8);

}

.panel-body {

    padding-left: 106px;

}


.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    margin-top: 25px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}


.serviceInner .sectionHeading {

    text-align: center;

    font-size: 70px;

    text-transform: capitalize;

}

.serviceInnerContent {

    position: absolute;

    top: 50px;

    left: 40px;

}

.serviceInnerDet p {

    font-size: 12px;

    line-height: 20px;

    color: #ffffff;

    padding-right: 0;

    min-height: 70px;

}

.serviceInnerDet a {

    color: #53417b;

    border: #fff solid 2px;

    background: #fff;

    /*width: 70%;*/
    width: 90%;

    padding: 3px 0;

}

.serviceInnerDet h4 {

    font-size: 19px;

    font-weight: 700;

    color: #fff;

    min-height: 60px;

}

.serviceInnerDet h4 span {

    display: block;

    font-size: 16px;

    font-weight: 400;

    margin-top: 10px;

}

/*

.serviceInnerDet

{

visibility: hidden;

opacity: 0;

transition-duration: .3s;

}

.serviceBox:hover .serviceInnerDet

{

visibility: visible;

opacity: 1;

transition-duration: .3s;

}

*/

.serviceBox2 {

    margin-bottom: 20px;

    text-align: center;

    background: linear-gradient(#5a467a, #776591);

    padding: 40px 25px;

    box-sizing: border-box;

    border-radius: 10px;

}

.serviceBox2 img {

    box-shadow: none;

}

.serviceBox2 h3 {

    font-size: 19px;

    font-weight: 700;

    color: #fff;

    text-align: center;

    min-height: 50px;

}

.serviceBox2 .serviceInnerContent {

    position: inherit;

    top: 0;

    left: 0;

}

.accordion_icon {

    float: right;

    margin-top: 30px;

}

.appointmentLeft {

    margin-top: 50px;

}

.appointmentLeft h4 {

    font-size: 40px;

    color: #53417b;

    font-weight: 700;

}

.appointmentLeft p {

    font-size: 18px;

    line-height: 24px;

    color: #212121;

    margin: 0;

    text-align: justify;

}

.appointmentLeft h5 {

    font-size: 30px;

    color: #53417b;


    font-weight: 700;

}

.appointmentLeft h5 span {

    color: #53417b;

    font-weight: 400;

    font-size: 22px;

}

.appointmentRight {

    font-family: 'Source Sans Pro', sans-serif;

    margin-top: 30px;

}

.appointmentRight h4 {

    color: #53417b;

    font-size: 29px;

    font-weight: 700;

}

.appointmentRight form {

    margin-top: 10px;

}

.appointmentRight label {

    color: #53417b;

    font-size: 16px;

}

.appointmentCalculations {

    border: #53417b solid 1px;

    padding: 15px 20px;

    box-sizing: border-box;

    border-radius: 10px;

}

.appointmentCalculations h5 {

    font-size: 22px;

    color: #212121;

}

.appointmentCalculations h5 span {

    color: #53417b;

    font-weight: 700;

}

.totalRow {

    margin-top: 80px;

    border-top: #53417b solid 1px;

}

.serviceInnerPad {

    padding-bottom: 0px;

}

.btnMain:active:hover, .btnMain:active:focus {

    background: #53417b !important;

    border: #53417b solid 2px !important;

}

.detLink a {

    color: #53417b;

    font-weight: 700;

    font-size: 18px;

    font-family: 'Source Sans Pro', sans-serif;

    margin-top: 20px;

    display: block;

}

.files {

    position: relative;

    margin-top: 20px;

}

.files input {

    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;

    transition: outline-offset .15s ease-in-out, background-color .15s linear;

    padding: 110px 0px 55px 32%;

    text-align: center !important;

    margin: 0;

    width: 100% !important;

    border: #53417b dashed 1px;

}

.files input:focus {

    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;

    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px dashed #92b0b3;

}

.files {
    position: relative
}

.files:after {
    pointer-events: none;

    position: absolute;

    top: 20px;

    left: 0;

    width: 72px;

    right: 0;

    height: 72px;

    content: "";

    background-image: url(../images/uploadIcon.png);

    display: block;

    margin: 0 auto;

    background-size: 100%;

    background-repeat: no-repeat;

}

.color input {
    background-color: #f1f1f1;
}

.files:before {

    position: absolute;

    bottom: 10px;

    left: 0;
    pointer-events: none;

    width: 100%;

    right: 0;

    height: 37px;

    content: " Upload your Bank Slip";

    display: block;

    margin: 0 auto;

    color: #212121;

    font-weight: 400;

    font-size: 19px;

    text-transform: capitalize;

    text-align: center;

}

.appointmentRight ol {

    padding-left: 15px;

}

.appointmentRight ol li {

    color: #212121;

    font-size: 16px;

    line-height: 24px;

}

input[type='radio']:after {

    width: 19px;

    height: 19px;

    top: -3px;

    left: -1px;

    position: relative;

    background-image: url(../images/radUnChecked.png);

    -webkit-background-image: url(../images/radUnChecked.png);

    -webkit-moz-background-image: url(../images/radUnChecked.png);

    background-repeat: no-repeat;

    background-size: 100% 100%;

    content: '';

    display: inline-block;

    visibility: visible;

    background-color: #f0f0f0;

    cursor: pointer;

    border: none;

    border-radius: 10px;

}


input[type='radio']:checked:after {

    width: 19px;

    height: 19px;

    top: -3px;

    left: -1px;

    position: relative;

    background-image: url(../images/radChecked.png);

    -webkit-background-image: url(../images/radChecked.png);

    -webkit-moz-background-image: url(../images/radChecked.png);

    background-repeat: no-repeat;

    background-size: 100% 100%;

    content: '';

    display: inline-block;

    visibility: visible;

    background-color: #f0f0f0;

    border: none;

}

.orderReviewLeft h4 {

    font-size: 30px;

    color: #53417b;

    font-weight: 700;

    margin: 0;

}

.orderReviewLeft p {

    font-size: 16px;

    line-height: 24px;

    color: #212121;

    margin-top: 5px;

}

.outputRes {

    margin: 5px 0;

    font-size: 20px;

    color: #53417b !important;

    font-weight: 600;

    font-family: 'Source Sans Pro', sans-serif;

}

.outputRes span {

    color: #030303;

    font-weight: 400;

}

.personalInfo h3 {

    font-size: 30px;

    color: #53417b;

    font-weight: 700;

}

.personalInfo img {

    width: auto;

    margin-left: 30px;

}

.personalInfo h5 {

    font-size: 20px;

    color: #53417b;

    font-weight: 700;

}

.personalInfo h5 span {

    display: block;

    font-size: 18px;

    color: #212121;

    font-weight: 400;

    line-height: 24px;

    margin-top: 4px;

    width: 90%;

}

.invalid-feedback strong {
    color: red;
}
.topbar ul li.logoutLink a img {
    margin-top: -2px;
    margin-right: 5px;
}
@media only screen and (max-width: 767px) {
    .navbar-collapse{
        background-color: #fff;
    }
}
@media only screen and (max-width: 600px) {
    .btnMain{
        width: 45%;
    }
    .serviceBox {
        margin-bottom: 100px !important;
    }
    .ctaDet a img{
        margin-bottom: 20px !important;
    }
    .footerLastArea{
        margin-top: 30px;
    }
    .carousel-caption p {
        width: 80% !important;
    }
    .nav-tabs > li > a{
        padding: 10px 40px !important;
    }
    .topbar ul {
        display: flex;
        flex-wrap: wrap;
    }
    .abouSectionPara{
        margin-top: 20px;
    }
    .applink img{
        margin-bottom: 10px;
    }
}